*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-direction: column-reverse;
}

.playground{
    height: 25rem;
    width: 50rem;
    background-color: #d3d3d3;
    border:1rem inset #adadad;
    box-shadow: 0.2rem 0.5rem 1rem #4e4e4e;
}

.mosquito{
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
}

.mosquito img{
   height: inherit;
   width: inherit;
   cursor:pointer;
}

.game_start{
    padding: 0.5rem 1rem;
    background: transparent;
    border:1px solid #1e1e1e;
    color:#000;
    cursor: pointer;
}

.game_start:active{
   background-color: green;
   color:#d3d3d3
}

.controls{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.controls span{
    margin-left: 0.5rem;
}