*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playground{
    height: 25rem;
    width: 50rem;
    background-color: #d3d3d3;
    border:1rem inset #adadad;
    box-shadow: 0.2rem 0.5rem 1rem #4e4e4e;
}

.mosquito{
    height: 3.5rem;
    width: 3.5rem;
}

.mosquito img{
   height: inherit;
   width: inherit;
   cursor:pointer;
}